<h2>Projects List</h2>

<table class="datatable">
    <thead>
        <tr>
            <th class="icon">Status</th>
            <th>Project</th>
            <th class="icon">Builds</th>
            <th class="icon">Edit</th>
        </tr>
    </thead>
    <tbody>
        <!-- ko if: projects().length -->
        <tr>
            <td>
                <i class="fa fa-dot-circle-o"></i>
            </td>
            <td>
                <span class="project-list-title">Project-Title</span>
                <span class="project-list-repo">git@github.com:OWNER/REPO.git</span>
            </td>
            <td>
                <a><i class="fa fa-folder"></i></a>
            </td>
            <td>
                <a><i class="fa fa-cog"></i></a>
            </td>
        </tr>
        <!-- /ko -->

        <!-- ko ifnot: projects().length -->
        <tr>
            <td colspan="4" class="project-list-create">
                <a href="/#projects/new/config">Create A Project &raquo;</a>
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>