<form class="change-password" data-bind="submit: changePassword">
    <label>Current Password</label>
    <div class="icon-input">
        <i class="fa fa-key"></i>
        <input type="password" placeholder="current password" data-bind="value: current_password">
    </div>

    <label>New Password</label>
    <div class="icon-input">
        <i class="fa fa-key"></i>
        <input type="password" placeholder="new password" data-bind="value: new_password">
    </div>

    <label>Confirm New Password</label>
    <div class="icon-input">
        <i class="fa fa-key"></i>
        <input type="password" placeholder="confirm new password" data-bind="value: confirm_password">
    </div>

    <button class="btn-left">Change Password</button>
    <button class="btn-right" data-bind="click: cancel">Cancel</button>
</form>