<form class="change-password" data-bind="submit: changePassword">
    <label>Current Password</label>
    <input type="password" placeholder="current password" data-bind="value: current_password">

    <label>New Password</label>
    <input type="password" placeholder="new password" data-bind="value: new_password">

    <label>Confirm New Password</label>
    <input type="password" placeholder="confirm new password" data-bind="value: confirm_password">

    <button class="btn-left">Change Password</button>
    <button class="btn-right" data-bind="click: cancel">Cancel</button>
</form>