<h2>Project Config</h2>

<form data-bind="submit: saveProject">

    <label>Name</label>
    <div class="icon-input">
        <i class="fa fa-quote-right"></i>
        <input placeholder="project-name" data-bind="value: name, valueUpdate: 'afterkeydown', event: { blur: testName }">
    </div>

    <label>Repo</label>
    <div class="icon-input">
        <i class="fa fa-github"></i>
        <input placeholder="git@github.com:owner/repository.git" data-bind="value: repo, valueUpdate: 'afterkeyup'">
    </div>

    <label>Branch</label>
    <!-- ko if: availableBranches().length -->
    <div class="icon-input">
        <i class="fa fa-code-fork"></i>
        <select data-bind="options: availableBranches, value: branch, valueAllowUnset: true"></select>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: availableBranches().length -->
    <div class="icon-input">
        <i class="fa fa-code-fork"></i>
        <input data-bind="value: branch">
    </div>
    <!-- /ko -->

    <button class="btn-left">Save</button>

    <!-- ko if: newProject -->
    <button class="btn-right" data-bind="click: cancel">Cancel</button>
    <!-- /ko -->

    <!-- ko ifnot: newProject -->
    <button class="btn-right" data-bind="text: deleteText, event: { click: deleteProject }"></button>
    <!-- /ko -->


</form>