<div id="notification"><i class="fa fa-circle"></i><span></span></div>

<header>

    <div class="container">

        <ul class="app-nav" data-bind="visible: loggedIn">
            <li><a href="#/projects">Projects</a></li>
            <li><a href="#/user/list">Users</a></li>
            <li><a href="#/user/password">Password</a></li>
            <li><a data-bind="click: logoutUser">Logout</a></li>
        </ul>

        <!-- ko if: loggedIn -->
        <a href="#/projects">
            <img id="logo" title="Avow CI" src="assets/images/avow-logo.gif">
        </a>
        <!-- /ko -->

        <!-- ko ifnot: loggedIn -->
        <img id="logo" title="Avow CI" src="assets/images/avow-logo.gif">
        <!-- /ko -->

    </div>

</header>

<div class="contain">

    <div id="viewContainer">
        <!-- Where routes are loaded... -->
    </div>

</div>

<footer>

    <div class="copyright">
        avow-ci &copy; 2014, created by <a target="_blank" href="http://www.fluidbyte.net">fluidbyte</a>.<br>
        released under the MIT-style open-source license.
    </div>

    <h3>avow-ci</h3>

</footer>