<div id="notification"></div>

<header>

    <div class="container">

        <ul class="app-nav" data-bind="visible: loggedIn">
            <li><a href="#/projects">Projects</a></li>
            <li><a href="#/user/list">Users</a></li>
            <li><a href="#/user/password">Password</a></li>
            <li><a data-bind="click: logoutUser">Logout</a></li>
        </ul>
    
        <!-- ko if: loggedIn -->
        <a href="#/projects">
            <img id="logo" title="Avow CI" src="assets/images/avow-logo.gif">
        </a>
        <!-- /ko -->
    
        <!-- ko ifnot: loggedIn -->
        <img id="logo" title="Avow CI" src="assets/images/avow-logo.gif">
        <!-- /ko -->
    
    </div>

</header>

<div id="viewContainer">
    <!-- Where routes are loaded... -->
</div>