header {
    background-color: #9c0200;
    padding: 30px;
    text-align: center;
    transition: .3s ease text-align;

    &.active-session {
        text-align: left;
    }
    
    .container {
        max-width: 1000px;
        margin: 0 auto;
        
        .app-nav {
            display: block;
            float: right;
            margin: 0;
            padding: 0;
        }
    
        .app-nav li {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style: none;
        }
    
        .app-nav li a {
            display: inline-block;
            padding: 3px 10px;
            border-left: 1px solid #ccc;
            color: #fff;
        }
    
        .app-nav li:first-of-type a {
            border-left: none;
        }
        
    }
}

