/* PROJECT LIST */

.project-list-title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-list-repo, .project-list-branch {
    display: inline-block;
    font-size: 1em;
    color: #666;
    font-style: italic;
}

.project-list-create a {
    display: block;
    padding: 15px;
    text-align: center;
}

.project-list-create-btn {
    float: right;
    margin-right: 0;
}

.project-status--none {
    a>i {
        color: #666;
        transition: .3s ease text-shadow;
        font-size: 1.2em;
    }

    a>i:before {
        content: "\f057"
    }

    a:hover>i {
        text-shadow: 0 0 3px #C4C4C4;
    }
}

.project-status--pass {
    a>i {
        color: #0fad4b;
        transition: .3s ease text-shadow;
        font-size: 1.2em;
    }

    a>i:before {
        content: "\f058"
    }

    a:hover>i {
        text-shadow: 0 0 3px #C4C4C4;
    }
}

.project-status--fail {
    a>i {
        color: #e31818;
        transition: .3s ease text-shadow;
        font-size: 1.2em;
    }

    a>i:before {
        content: "\f057"
    }

    a:hover>i {
        text-shadow: 0 0 3px #C4C4C4;
    }
}

.project-status--pending {
    a>i {
        color: #ffb400;
        transition: .3s ease text-shadow;
        font-size: 1.2em;
    }

    a>i:before {
        content: "\f144"
    }

    a:hover>i {
        text-shadow: 0 0 3px #C4C4C4;
    }
}

/* PROJECT VIEW */

.project-view-config {
    float: right;
    margin-right: 0;
}

.project-view-commit-msg {
    color: #999;
    font-style: italic;
}