.login-form {
    width: 300px;
    padding: 30px;
    margin: 15% auto 0 auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

.user-list-create {
    float: right;
    margin-right: 0;
}