.login-form {
    width: 300px;
    padding: 30px;
    margin: 5% auto 0 auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

.change-password {
    display: block;
    width: 500px;
    margin: 10% auto;
}

.user-list-create {
    float: right;
    margin-right: 0;
}